
{% extends "base.html" %}
{% block body %}
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success: </strong>One Classroom Added 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}


   <div class="container my-3">
    <h2 class="text-center">Add Classroom</h2>
    <form action="/addclassroom" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Classroom No.</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="CSL103">
        </div>
       
        <button type="submit" class="btn btn-primary">ADD</button>
      </form>
   </div>
    
   <div class="container my-5">
    <h5>CLASSROOM LISTS</h5>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Room Number</th>
            <th scope="col">Actions</th> 
            
          </tr>
        </thead>
        <div>
          <tbody>
            {% for classroom in addclassroom %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ classroom.classnum }}</td>
              <td>
                <form action="/deleteclassroom/{{ classroom.id }}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm" style="background-color:black">Delete</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          
        </div>
          

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
   
    

    {% endblock body %}
