<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Time-Table Scheduler</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/addinstructor">AddInstructor</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/addsubjects">AddSubjects</a>
          </li>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/addclassroom">AddClassroom</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Allotment          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/theory">Theory Classes</a>
            <a class="dropdown-item" href="#">Practical Classes</a>
            <a class="dropdown-item" href="#">Classroom</a>  
        </li>
      
        </ul>
        
        </form>
      </div> 
    </nav>
    <div class= "container my-3">
        <h2 class="text-center">Add Instructor </h2> 

        <form action="/addinstructor" method="post">
            {%csrf_token%}
            <div class="container">
              
            </div>
            <div class="form-group">
              <label for="name">ID</label>
              <input type="text" class="form-control" id="instructorid" name="instructorid" placeholder="cs102">
            </div>   

            
            <div class="form-group">
              <label for="name">Instructor Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="name">
            </div>

            <div class="form-group">
                <label for="designation">Designation</label>
                <select class="form-control form-control-sm" name="designation">
                    <option>Professor</option>
                    <option>Assistance Professor</option>
                    <option>Associate Professor</option>
                    <option>Guest Professor</option>
                </select>
                </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
              </div>

              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="1234567890">
              </div>
            
              

            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>

      

      <div class="container my-5">
        <h5>INSTRUCTORS LISTS</h5>
        <table class="table my-5">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Email</th>
              <th scope="col">Contact</th>
            </tr>
          </thead>

          {% for instructor in addinstructor %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ instructor.instructorid }}</td>
              <td>{{ instructor.name }}</td>
              <td>{{ instructor.designation}}</td>
              <td>{{ instructor.email }}</td>
              <td>{{ instructor.phone}}</td>
              
              
          </tr>
          {% endfor %}
        </table>
      </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
