{% extends "base.html" %}
{% block homeactive %}active{% endblock homeactive%}
{% block title %}home{%endblock title%}
{% block body %}    
          <div class="container my-3">
            <div class="media">
              <img src="" alt="Generic placeholder image">
              <div class="media-body" style="margin-top:250px;margin-left:200px">
                <h5 class="mt-0">TIME TABLE SCHEDULER</h5>
               <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <button type="submit" class="btn btn-primary">GENERATE TIMETABLE</button>
              </div>
              
            </div>
           
          </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
{% endblock body %}    
   
    

    