{% extends "base.html" %}
{% block homeactive %}active{% endblock homeactive%}
{% block title %}home{%endblock title%}
{% block body %}    
          <div class="container my-3 mt-0">
            <div class="media">

              <div class="media-body" style="margin-top:250px;margin-left:200px">
                <h2 class="mt-0">TIME TABLE SCHEDULER</h2>
                <p> Automatic timetable generation is a process that uses computational algorithms to create schedules for various activities or events. It involves analyzing constraints such as room availability, instructor availability, and student preferences to generate an optimized timetable.</p>
                <div class="crdbtn">
                  <a href="{% url 'timetable' %}" class="btn btn-primary">Generate Timetable</a>
              
                </div>
                <div class="crdbtn" style="margin-top:20px">
                  <a href="{% url 'mastertime' %}" class="btn btn-primary">Master Timetable</a>
              
                </div>
              </div>
              
            </div>
           
          </div>
         
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
{% endblock body %}    
   
    

    