{% extends "base.html" %}
{% block body %}
    <div class="container my-3" style="width:400px">
        <select class="form-control form-control-sm"style="margin-top:70px" >
          <option disabled selected>Select Teacher1</option>
         <!--{% for  cn in addclass  %}
         <option >{{cn.classnum}}</option>
          {% endfor %}-->
        </select>
        <select class="form-control form-control-sm " style="margin-top:30px">
            <option>Select Teacher2</option>
          </select>
        <select class="form-control form-control-sm " style="margin-top:30px">
          <option>Select Course</option>
        </select>
        <button type="submit" class="btn btn-primary" style="margin-top:30px;">Allot</button>
       </div>
         
    
       <div class="container my-5">
        <h5>Alloted List</h5>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Teacher1</th>
                <th scope="col">T1ID</th>
                <th scope="col">Teacher2</th> 
                <th scope="col">T2ID</th> 
                <th scope="col">Course Name</th> 
                <th scope="col">Course Code</th> 
              </tr>
            </thead>
            <tbody>
              <tbody>
              
                <tr>
                  <th scope="row">1</th>
                  <td>name</td>
                  
                </tr>
             
              </tbody>
              
            </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    
   
    

   
{% endblock body %}