{% extends "base.html" %}
{% block allotmentactive %}active{% endblock allotmentactive %}
{%block title%}room{%endblock title%}
{% block body %}

<div class="container my-3" style="width: 400px">
  <form action="/room" method="post">
    {% csrf_token %}
    <select class="form-control form-control-sm" style="margin-top: 70px" name="semester_number">
      <option disabled selected>Select Semester</option>
      {% for sem in allsem %}
        <option>{{ sem }}</option>
      {% endfor %}
    </select>
    <select class="form-control form-control-sm" style="margin-top: 30px" name="room_name">
      <option disabled selected>Select Room Number</option>
      {% for clsnum in allclsnum %}
        <option>{{ clsnum }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Allot</button>
  </form>
</div>

       <div class="container my-5">
        <h5>Alloted List</h5>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">SEM</th>
                <th scope="col">ROOM NUMBER</th> 
                
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% for allotment in room_allot %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ allotment.semester_number}}</td>
                  <td>{{ allotment.room_name }}</td>
                </tr>
                {% endfor %}
              </tbody>
              
            </div>
         
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    
   
    

    
{% endblock body %}