{% extends "base.html" %}
{% block body %}

    <div class="container my-3" style="width:400px">
        <select class="form-control form-control-sm"style="margin-top:70px" >
          <option disabled selected>Select Semester</option>
        </select>
        <select class="form-control form-control-sm " style="margin-top:30px">
            <option disabled selected>Select Room Number</option>
            {% for  cn in addclass  %}
            <option>{{cn.classnum}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary" style="margin-top:30px;">Allot</button>
       </div>
       

       <div class="container my-5">
        <h5>Alloted List</h5>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">SEM</th>
                <th scope="col">ROOM NUMBER</th> 
                
              </tr>
            </thead>
            <tbody>
              <tbody>
              
                <tr>
                  <th scope="row">1</th>
                  <td>name</td>
                  
                </tr>
             
              </tbody>
              
            </div>
         
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    
   
    

    
{% endblock body %}