{% extends "base.html" %}
{% block allotmentactive %}active{% endblock allotmentactive %}
{%block title%}theory{%endblock title%}
{% block body %}

    
       <div class="container my-3" style="width:400px">
        <form action="/theory" method="post">
          {%csrf_token%}
        <select class="form-control form-control-sm"style="margin-top:70px" name="teacher_name">
          <option disabled selected>Select Teacher</option>
          {% for  t in addteacher  %}
          <option >{{t.name}}</option>
          {% endfor %}
        </select>
        <select class="form-control form-control-sm " style="margin-top:30px"  name="subject_code">
          <option disabled selected>Select Course</option>
          {% for c in theorycourses %}
          <option>{{c.code}}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary" style="margin-top:30px;">Allot</button>
      </form>
       </div>




       <div class="container my-5">
        <h5>Alloted List</h5>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th> 
                <th scope="col">Designation</th> 
                <th scope="col">course name</th> 
                <th scope="col">course code</th> 
              </tr>
            </thead>
            <tbody>
              {% for allotment in theory_allotments %}
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ allotment.instructor.instructorid }}</td>
                  <td>{{ allotment.instructor.name }}</td>
                  <td>{{ allotment.instructor.designation }}</td>
                  <td>{{ allotment.subject.name }}</td>
                  <td>{{ allotment.subject.code }}</td>
              </tr>
          {% endfor %}
             
              </tbody>
              
            </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
         
   
    
    
    {% endblock body %}